.forms{
    
    margin: 0 auto;
    max-width: 550px; 
    background-color: #f3ebeb;
    margin-top: 150px;
    border-radius: 15px;

}
body{
    background-image: url(/image/background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: float;
    animation-duration: 5s;
}
@keyframes float {
    from{
        opacity: 0;
        transform: scale(0px);
    }
    to{
        opacity: 1;
        transform: scale(50px);
    }
}
.name{
    
    display: flex;
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 10px;
    padding-left: 20px;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    background-color: grey;
    animation-name: grow;
    animation-duration: 5s;
}
@keyframes grow {
    0%{
        opacity: 0;
        transform: translateX(0px);
    }
    50%{
        opacity: 1;
        transform: translateX(50px);
    }
    100%{
        opacity: 1;
        transform: scaleX(50px);
    }
}

h1{
    text-align: center;
    margin: 0 auto;
    max-width: 800px;
    margin-bottom: 20px;
    animation-name: float;
    animation-duration: 5s;

}
@keyframes float {
 0%{
   opacity: 0;
   transform: translateX(0px);
 }   
 100%{
    opacity: 1;
    transform: translateX(50px),rotate(45);
 }
}
#submit{
    padding: 8px;
    border-radius: 10px;
    border-width: 1px;
    
}
#submit:hover{
    background-color: grey;
    opacity: 0.8;
    
}
